<div class="l-content">
  <h4 style="text-align: center;">Produktion</h4>
  <div class = "medium-9 columns">
    <div class="medium-12 columns">
      <h5>Felder</h5>

      <%= form_tag sow_crops_path do %>
        <table width="100%">
          <thead>
            <tr>
              <th width = 60px ></th>
              <th>Sorte</th>
              <th>Angeplfanzt:</th>
              <th>Wert gesamt</th>
              <th>Alter (in Saison)</th>
              <th>Anbauen</th>
            </tr>
          </thead>
          <tbody>
          <% @crops.each do |crop| %>
            <tr>
              <td><div class="<%= crop.type.downcase  %>-icon"></div></td>
              <td><b><%= crop.to_s %></b></td>
              <td><%= crop.quantity %></td>
              <td><%= number_to_currency(crop.value, unit: '€') %></td>
              <td><%= crop.age %></td>
              <td> Anbauen <%= number_field_tag "#{crop.type}[sow]", 0, step: 100%></td>
            </tr>
           <% end %>
          </tbody>
        </table>
      <%= submit_tag "Anbauen", class: "button" %>
      <% end %>
    </div>

    <div class="medium-12 columns">
      <h5>Vieh</h5>

      <%= form_tag breed_lifestock_path do %>
        <table width="100%">
          <thead>
            <tr>
              <th width = 60px ></th>
              <th>Vieh</th>
              <th>Menge</th>
              <th>Wert</th>
              <th>Alter:</th>
              <th>Nachzüchten</th>
            </tr>
          </thead>
          <tbody>
          <% @lifestock.each do |animal| %>
            <tr>
              <td><div class="<%= animal.type.downcase  %>-icon"></div></td>
              <td><b><%= animal.to_s %></b></td>
              <td><%= animal.quantity %></td>
              <td><%= number_to_currency(animal.value, unit: '€') %></td>
              <td><%= animal.age %></td>
              <td>Züchten <%= number_field_tag "#{animal.type}[breed]", 0, step: 10 %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <%= submit_tag "Züchten", class: "button" %>
      <% end %>
    </div>
  </div>
</div>
