<div class="l-content management">
	<h2 class= "centered"> Ereignisse </h2>
	<div class = "medium-12 large-12 columns">
		<div class="medium-9 large-9 columns">
			<table class= "event-table">
				<thead>
					<tr>
						<th>Thema</th>
						<th>Nachricht</th>
					</tr>
				</thead>
				<tbody>
	      <% @current_events.each do |event| %>
					<tr>
						<td class = "centered"><div class="<%= event.type.downcase  %>-icon"></div> <%= Event.types_mapping.fetch(event.type)%></td>
						<td><%= event.message %></td>
					</tr>
	       <% end %>
				</tbody>
			</table>

			<div class = "medium-6 large-6 columns ">
				<div class = "report">
					<h3> Finanzbericht </h3>
					<div class= "row">
						<div class= "medium-6 large-6 columns report-columns">
							<strong>Ausgangslage</strong> (Summe der Aktiva)
						</div>
						<div class= "medium-6 large-6 columns report-columns">
							<%= number_to_currency(@all_assets, unit: '€') %>
						</div>
					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns report-columns">
							<strong>Zinsen</strong>
						</div>
						<div class= "medium-6 large-6 columns report-columns">
							<%= number_to_currency(@interest_cost, unit: '€') %>
						</div>
					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns report-columns">
							<strong>Kreditsumme</strong>
						</div>
						<div class= "medium-6 large-6 columns report-columns">
							<%= number_to_currency(@credit_sum, unit: '€') %>
						</div>

					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns report-columns">
							<strong>Personalkosten pro Saison</strong>
						</div>
						<div class= "medium-6 large-6 columns report-columns">
							<%= number_to_currency(@personnel_cost, unit: '€') %>
						</div>
					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns report-columns">
							<strong>Produktion</strong>: Wert der Ernte
						</div>
						<div class= "medium-6 large-6 columns report-columns">
							<%= number_to_currency(@harvested_crops, unit: '€') %>
						</div>
					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns report-columns">
							<strong>Wert deiner Maschinen</strong>
						</div>
						<div class= "medium-6 large-6 columns report-columns">
							<%= number_to_currency(@machinery, unit: '€') %>
						</div>
					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns report-columns">
							<strong>Wert deines Anbaus</strong>
						</div>
						<div class= "medium-6 large-6 columns report-columns">
							<%= number_to_currency(@field_crops, unit: '€') %>
						</div>
					</div>
				</div>
			</div>
			<div class = "medium-6 large-6 columns">
				<div class = "report">
					<h3> Wichtige Zahlen auf einem Blick </h3>
					<div class= "row">
						<div class= "medium-6 large-6 columns">
							<strong>Liquidationswert Ende letzten Jahres</strong>
						</div>
						<div class= "medium-6 large-6 columns">
							<%= number_to_currency(@assets, unit: '€') %>
						</div>
					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns">
							<strong>Saatgut</strong> (geerntete + gekauftes Getreide)
						</div>
						<div class= "medium-6 large-6 columns">
							<%= number_to_currency(@seeds, unit: '€') %>
						</div>
					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns">
							<strong>Viehbestand</strong>
						</div>
						<div class= "medium-6 large-6 columns">
							<%=@lifestocks%>
						</div>
					</div>
						<div class= "row">
						<div class= "medium-6 large-6 columns">
							<strong>Personal</strong>
						</div>
						<div class= "medium-6 large-6 columns">
							<%= @personnel_count %> Mitarbeiter
						</div>
					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns">
							<strong>bestellte Felder</strong>
						</div>
						<div class= "medium-6 large-6 columns">
							<%= @fields%> h
						</div>
					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns">
							<strong> Maschinenbesetzung </strong>
						</div>
						<div class= "medium-6 large-6 columns">
							<%= @machine_occupancy %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class = "medium-3 large-3 columns">
			<div class= "content-box ">
				Hier siehst du deinen Übersichtsbildschirm deines Unternehmens. Neben den letzten aktuellen Nachrichten erhälst du zusätzlich einen kurzen Finanzbericht für das letzte Jahr und einen Überblick über wichtige Kennzahlen des Unternehmens. Unter anderem siehst du hier den Liquidationswert des Unternehmens. Die Finanz-, Produktions- und Verkaufsberichte des letzten Jahres sind ebenfalls auf dieser Seite verlinkt.
			<hr/></div>
		</div>
	</div>
</div>



