<div class="l-content personnel">
  <h4 style="text-align: center;">Personalbestand</h4>
  <div class = "medium-6 large-6 columns">
    <div class="medium-12 columns">
      <% if flash[:success] %>
      <div class="flash"><%= flash[:success] %></div>
      <%end%>
      <%= form_tag personnels_path  do %>

      <table>
        <thead>
          <tr>
            <th>Bereich</th>
            <th>Saisonsgehalt pro Mitarbeiter</th>
            <th>Anzahl Mitarbeiter</th>
            <th>Zufriedenheit</th>
          </tr>
        </thead>
          <tbody>
            <% @personnel.each do |employee|%>
          <tr>
            <td> <%= employee.position %> </td>
            <td><%= label_tag 'salary', "€", class: "label-tag" %><%= number_field_tag "#{employee.position}[salary]", employee.salary, step: 100, class: "salary-tag"%></td>
            <td> <%= number_field_tag "#{employee.position}[quantity]", employee.quantity %> </td>
            <td> <div class = "<%= employee.satisfaction %>-logo"> </div> </td>
          </th>
          <% end %>
          </tbody>

      </table>
      <%= submit_tag "Speichern", class: "button"%>
    <% end %>
    </div>
  </div>

  <div class = "medium-6 large-6 columns">
      <div class= "content-box ">
        Die Verwaltung des Personals ist eine der wichtigsten Aufgaben in deinem Unternehmen. Auf dieser Seite findest du eine Übersicht mit allen Mitarbeitern. Neben dem Tätigkeitsbereich siehst du auch das aktuelle Jahresgehalt, die Anzahl der Mitarbeiter in jedem Bereich. Um Mitarbeiter einzustellen oder zu entlassen passe einfach die jeweilige Anzahl an. Je nachdem wie viele Mitarbeiter du einstellst und wie großzügig du ihr Gehalt bemisst schwankt ihre Produktivität und Leistung, dies kannst du anhand der Zufriedenheit, ablesen.
      <hr/></div>
    </div>
</div>
