<div class="l-content">
  <h4 style="text-align: center;">Vertrieb</h4>
  <div class = "medium-9 columns">
    <div class="medium-12 columns">
      <h5>Getreide</h5>

      <%= form_tag sell_crops_path do %>
        <table width="100%">
          <thead>
            <tr>
              <th width = 60px ></th>
              <th>Sorte</th>
              <th>Menge gesamt</th>
              <th>Geerntet:</th>
              <th>Wert</th>
              <th>Alter (in Saison)</th>
              <th>Verkaufen</th>
              <th>Bisher Verkauft</th>
            </tr>
          </thead>
          <tbody>
          <% @crops.each do |crop| %>
            <tr>
              <td><div class="<%= crop.type.downcase  %>-icon"></div></td>
              <td><b><%= crop.to_s %></b></td>
              <td><%= crop.quantity %></td>
              <td><%= crop.harvested %></td>
              <td><%= number_to_currency(crop.value, unit: '€') %></td>
              <td><%= crop.age %></td>
              <td> Verkaufen <%= number_field_tag "#{crop.type}[sold]", 0, step: 100, max: crop.harvested%></td>
              <td><%= crop.sold * crop.unit_value %> </td>
            </tr>
           <% end %>
          </tbody>
        </table>
      <%= submit_tag "Transaktion Tätigen", class: "button" %>
      <% end %>
    </div>

    <div class="medium-12 columns">
      <h5>Vieh</h5>

      <%= form_tag sell_lifestock_path do %>
        <table width="100%">
          <thead>
            <tr>
              <th width = 60px ></th>
              <th>Vieh</th>
              <th>Menge gesamt</th>
              <th>Geschlachtet</th>
              <th>Wert</th>
              <th>Alter:</th>
              <th>Verkaufen</th>
              <th>Bisher Verkauft</th>
            </tr>
          </thead>
          <tbody>
          <% @lifestock.each do |animal| %>
            <tr>
              <td><div class="<%= animal.type.downcase  %>-icon"></div></td>
              <td><b><%= animal.to_s %></b></td>
              <td><%= animal.quantity %></td>
              <td><%= animal.butchered %></td>
              <td><%= number_to_currency(animal.value, unit: '€') %></td>
              <td><%= animal.age %></td>
              <td>Verkaufen <%= number_field_tag "#{animal.type}[sold]", animal.sold, step: 100, max: animal.butchered%></td>
              <td><%= animal.sold * animal.unit_value %> </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <%= submit_tag "Transaktion Tätigen", class: "button" %>
      <% end %>
    </div>
  </div>
  <div class = "medium-3 columns">
    <div class= "content-box ">
      Hinweis nur vorher geerntetes Getreide bzw. geschlachtetes Vieh verkauft werden kann, verkauft wird immmer entweder zum Marktpreis oder zum Preis eventuell gekaufter Futures.
    <hr/></div>
  </div>
</div>




