<div class= "header">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li>
          <% if current_user %>
            <div class="info">Cash ~ <%= current_user.game.cash %></div>
            <div class="info">Saison <%= current_user.game.period %></div>
          <% else %>
            <div class="info"> Wilkommen zum Simulation Game</div>
          <% end %>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li>
            <% if current_user %>
              <%= link_to "Verwaltung", management_path %>
            <% end %>
          </li>
          <li>
            <% if current_user %>
              <%= link_to "Bank", banking_path %>
            <% end %>
          </li>
          <li>
            <% if user_signed_in? %>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
            <% end %>
          </li>
        </ul>

      </section>
    </nav>
</div>
