<div class = "sidebar">

  <%= image_tag('farm_logo.png', class: 'farm-logo')%>
  <ul class = "navigation">
    <li class = "nav-item"> <%= link_to "Einkauf" , trades_path%> </li>
    <li class = "nav-item"> <%= link_to "Vertrieb" , sales_path%> </li>
    <li class = "nav-item"> <%= link_to "Produktion" , production_path%> </li>
    <li class = "nav-item"> <%= link_to "Lager" , storage_path%> </li>
    <li class = "nav-item"> <%= link_to "Personal" , personnels_path%> </li>
  </ul>
</div>
